@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/*Declaración de variables*/
// Colores
$Moradon: #250869b2;
$Naranjon: #ec731e;
$Bk: #fff;

// Fuente
$Fuente-general: "Montserrat", sans-serif;
$Fuente-mbarra: "Grandstander", cursive;

// Generales
$Altura-bm: 80px;

/*Inicio Configuraciones generales  para todas las páginas*/
* {
    margin: 0;
    padding: 0;
    cursor: url("../img/cursor/c2.cur"), auto;
    
   }

body {
  margin: 0px;
  padding: 0;
  font: $Fuente-general;
  color: $Bk;
  background-image: url("../img/Fondo.png");
  background-size: contain;
  background-attachment: fixed;
  padding-top: $Altura-bm; /* margen para que no lo cubra la barra de cabecera*/

}


/*Inicio barra de menú con responsive*/
@media screen and (max-width: 2000px) {
nav {
  width: 100%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  background: black;
  height: 80px;
  
  
}
a {
  display: inline-block;
  margin: 0px;
  margin-top: 0px;
  justify-content: center;
  text-align: center;
  color: white;
  height: 100%;
  text-decoration: none;
  padding: 0 6px;
  padding-top: 25px;
}
a:hover { background: #ec731e;
  text-decoration: none;
  color: white;
cursor: pointer;
}
  
  a:active { background: #ec741ea1;
  text-decoration: none;
  color: #250869b2; }

}

@media screen and (max-width: 800px) {

    body {
        padding-top: 10px;
    }

nav {
  
  left: 0;
  top: 0;
  position: fixed;
height: 450px;
  z-index: 2;
  width: 200px;
  background: black;
  color: white;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(590px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  margin: 0px;
  height: auto;
}

a:hover { background: #ec731e;
text-decoration: none;
color: white;}

a:active { background: #ec741ea1;
text-decoration: none;
color: #250869b2; }

.span__logo {
  position: fixed;
  margin-left: 70px;
  margin-top: -15px;
  }

.Index__logo {
    width: 35px;
}

.navicon {
  padding: 23px 22px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;

  div {
      position: relative;
      margin-left: 22px;
      margin-top: 1px;
      width: 20px;
      height: 2px;
      background: white;

  }
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }
}

//* Responsive pag general *//

@media screen and (max-width: 590px) {
    body {
      background: black;
    }
    .tarjeta__img {
      display: none;
    }
  }

  @media screen and (max-width: 485px) {
    section {
      font-size: 15px;
      margin: 0px;
      padding: 0px;
    }
    }
    @media screen and (max-width: 335px) {
    section {
      font-size: 13px;
      margin: 0px;
      padding: 0px;
    }

}

/*fin atributos de barra de menú navegación y responsive*/
.Pag__actual {
    color: $Naranjon;
  }

  /*Fin Configuraciones generales  para todas las páginas*/


  /* Inicio Código para Index*/
/* Código para BEM en index*/

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }
  
  .tarjeta {
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 50px;
    a:hover {
      background-color: $Naranjon;
      transform: scale(1.2);
    }
  }
  
  .tarjeta__img {
    width: 300px;
    height: 180px;
    border-radius: 15px;
    margin-right: 30px;
  }
  
  .tarjeta__titulo {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .tarjeta__parrafo {
    line-height: 28px;
    font-size: 1rem;
  }
  
  .boton {
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: inline-block;
    text-decoration: none;
    &--derecha {
      position: absolute;
      right: 20px;
      bottom: -30px;
    }
  }
  
  @media screen and (max-width: 590px) {
    .tarjeta {
      background-color: $Moradon;
    }
    .boton {
      background-color: $Naranjon;
    }
  }
  /*fin de código para BEM en index*/
  
  /*Propiedades de contenido index*/

  .Index__title {
    position: absolute;
    top: 100px;
  }
  
  footer {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 20px;
  
    div {
      padding: 10px;
    }
  }
  
  /* Fin Código para Index*/

  /*Inicio propiedades flexbox */
.div__Reservas {
    display: flex;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: top;
    padding: 20px;
    margin: 40px;
  }
  .div__Paseos {
    display: flex;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 40px;
  
    iframe {
      padding: 10px;
    }
  }
  
  .div__Baño {
    display: flex;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    margin-top: 135px;
  }
  
  .section__Conoc {
    display: flex;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    color: #25086900;
    font-size: 20px;
    transition: all 1.5s;
    &:hover {
      color: white;
      background: rgb(255, 255, 254);
      background: radial-gradient(
        circle,
        rgba(255, 255, 254, 0.267) 0%,
        rgba(121, 37, 9, 0.377) 88%,
        rgba(155, 66, 7, 0.267) 95%,
        rgba(255, 149, 0, 0.171) 100%
      );
      transform: scale(0.8) rotate(5deg) translateX(100px) translateY(200px);
      border-radius: 0%;
      box-shadow: 0px 0px 15px 15px #ec731e;
    }
  }
  
  .div__FAQ {
    display: flex;
    height: 600px;
    flex-direction: column;
    padding: 1em;
  }
  .div__Ingresa {
    display: flex;
    height: 600px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1em;
  }
  .div__Registro {
    display: flex;
    height: 600px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1em;
  }
  /*Fin propiedades Flex en páginas*/
  
  /*Inicio Propiedades de tabla Baño*/
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 30px;
  }
  
  th {
    text-align: center;
    background-color: #f16f0594;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd3b;
  }
  
  .Baño__TableUl {
    list-style-type: square;
  }


/* Inicio Responsive tabla baño*/
  @media screen and (max-width: 1400px) {
table {

    margin-top: $Altura-bm;
}

  }

  @media screen and (max-width: 1200px) {
    table {
    
        margin-top: 4*$Altura-bm;
    }
    
      }

      @media screen and (max-width: 667px) {
        table {
            margin-top: $Altura-bm +60px;
        }

        td,
        th {

          padding: 5px;
        }
        
          }
          @media screen and (max-width: 440px) {
              table {
                  margin-top: 0px;
                  font-size: 80%;
            } 
          }

/* Fin Responsive tabla baño*/




  /* Fin propiedades Tabla Baño*/
  
  /*Inicio Propiedades FAQ*/
  .card-header {
    background-color: rgba(0, 0, 0, 0.849);
  
    a {
      color: white;
    }
  }
  
  .card-body {
    background-color: #f17005;
  }
  
  h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    color: #f17005;
  }
  
  form {
    margin: 50px;
    text-align: center;
  }
  
  p {
    margin: 0 0 1.5em 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  label {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  /* Fin propiedades FAQ*/