* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px; 
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(253, 253, 253);
  background: #250869b2;
  padding-top: 50px; /* margen para que no lo cubra la barra de cabecera*/
}


header {
	width:100%;
  right: 0;
  top: 0;
  position: fixed; 
  z-index: 2; 
}

header nav {
	width:100%;
	max-width:100%;
	margin:0px auto;
	background:black;
  height: 80px;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;

}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
  padding-inline: 15px;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background: #ec731e;
}

section {
	padding:10px;
}

@media screen and (max-width:1012px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
    
	}

	header nav ul li {
		display:block;
		float:none;
    
		border-bottom:1px solid rgba(255,255,255, .3);
    
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
    
	}

	.menu_bar .bt-menu {
		display:block;
		padding:15px;
		background:black;
    height: 80px;
		color:#fff;
		text-decoration:none;
		font-weight:normal;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

  .menu_bar h1 {
    font-size: 30px;
    padding: 0px;

  }

	.menu_bar span {
    
		float:right;
		font-size:45px;
    
	}
  .section__titulo {
    display: none;
  }
  .Index__logo--dis {
    display: none;
  }
}

@media screen and (max-width: 590px ){
  body {
    
    background: black;
    
  }
  main {
    display: none;
  }
}

/* 
.menuPrincipal {
  background: #333;
  color: white;
  height: 80px;

  width: 100%; /* que la barra de menús ocupen tooodo el ancho 
  right: 0;
  top: 0;
  position: fixed; /* con esto lo fijamos!!
  z-index: 2; /*Pa que esté arribita de todo :P
}
.menuPrincipal a {
  color: white;
}
 */

/* Código para BEM en index*/
a:hover {
	color: white;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
  
}

.tarjeta {
	background-color: rgba(0, 0, 0, 0.425);
	border-radius: 25px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 50px;
  
}

.tarjeta a:hover {
  background-color: #ec731e;
}

.tarjeta__img {
	width: 300px;
	height: 180px;
  border-radius: 15px;
	margin-right: 30px;
}

.tarjeta__titulo {
	font-size:1.5rem;
	margin-bottom: 20px;
}

.tarjeta__parrafo {
	line-height: 28px;
	font-size:1rem;
}

.boton{
	height: 50px;
	padding: 10px;
  border-radius: 20px;
	background-color: black;
	color: white;
	display: inline-block;
	text-decoration: none;
}

.boton--derecha {
	position: absolute;
	right: 20px;
	bottom: -30px;
}



/*fin de código para BEM en index*/

/*
 Propiedades del texto de barrita de navegación 
 */
nav {
  float: center;
}
nav ul {
  margin: 0;
  padding: 0;
  font-family: "Grandstander", cursive;
  list-style: none;
  padding-left: 100px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 40px; /*distancia entre los bloques*/
  text-decoration: none; /*quitar decoración (subrayado a enlaces)*/
}

nav ul li a:hover {
  background: #f17005;
}
/*Propiedades de contenido index*/
section {
  margin: 20px;
  display: inline;
}

.Index__logo {
  position: absolute;
  top: 2px;
  left: 15px;
}

/* .Index__calendario {
  /* position: absolute;
  top: 240px;
  margin: 0px; */
  /* grid-area: 1/1/5/3; posición en el grid */
  /* grid-template-columns: minmax(200px); */
  /* background-color: #020101;
} */ 

.Index__title {
  position: absolute;
  top: 100px;
}

section article {
  background-color: #05000063;
  /* position: relative; */
  top: 20px;
  height: 200px;
  padding: 30px;
  /* 
  width: 667px;
  left: 230px;*/
}

.Index__InfAdicional {
  background-color: #6b0303b2;
  /* position: absolute; */
  /* top: 530px;
  left: 30px; */
  grid-area: 5/1/9/3; /*posición en el grid!!!!!*/

  font-size: 0.6em;

  /* width: 190px;
  height: 150px;
  padding: 10px; */
}

footer {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

footer div {
  padding: 10px;
}

/*  flexbox */
.div__Reservas {
  display: flex;
  height: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: top;
  padding: 20px;
  margin: 40px;
}
.div__Paseos {
  display: flex;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
  margin: 40px;
}
.div__Paseos iframe {
  padding: 10px;
}
.div__Baño {
  display: flex;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  margin-top: 135px;
}

.section__Conoc {
  display: flex;
  height: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
  margin: 40px;
  color: #25086900;
  font-size: 30px;
  transition: all 1.5s;
}

.section__Conoc:hover {
  color: white;
  background: rgb(255, 255, 254);
  background: radial-gradient(
    circle,
    rgba(255, 255, 254, 0.267) 0%,
    rgba(121, 37, 9, 0.377) 88%,
    rgba(155, 66, 7, 0.267) 95%,
    rgba(255, 149, 0, 0.171) 100%
  );
  transform: scale(0.8) rotate(5deg) translateX(100px) translateY(200px);
  border-radius: 0%;
  box-shadow: 0px 0px 15px 15px #ec731e;
}

.div__FAQ {
  display: flex;
  height: 600px;
  flex-direction: column;
  padding: 1em;
}
.div__Ingresa {
  display: flex;
  height: 600px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.div__Registro {
  display: flex;
  height: 600px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

/* Propiedades Grid!!! */

/* .Index__grilla {
  display: grid;
  /* grid-template: repeat(8, 12.5%) / 150px 100px repeat(8, 10%);

  height: 70vh; */
  /* grid-template-columns: 10px auto;

  grid-template-rows: 150px 150px;
} */ 

.Index__1SeccInf {
  grid-area: 1/4/3/5; /*posición en el grid!!!!!*/
  /* align-self: center; */
}
.Index__2SeccInf {
  grid-area: 5/4/9/6; /*posición en el grid!!!!!*/
  /* align-self: center; */
}

/*Propiedades de tabla!!*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 30px;
}

th {
  text-align: center;
  background-color: #f16f0594;
}

tr:nth-child(even) {
  background-color: #dddddd3b;
}

.Baño__TableUl {
  list-style-type: square;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.849);
  
}

.card-header a {
  color: white;
}



.card-body {
background-color: #f17005;
}

h1 {
  font-size: 2.3em;
  line-height: 1.3em;
  margin: 15px 0;
  text-align: center;
  color: #f17005;
}

form {
  margin: 50px;
  text-align: center;
}

p {
  margin: 0 0 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}
